@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #f7e296;
}

.main-navigation {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.search-navigation,
.site-navigation,
.user-navigation,
.drop-menu {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.drop-menu a {
  color: #000000;
}

.navigation button {
  height: 49px;
  width: 85px;
  border: 2px solid #000000 ;
  border-radius: 0;
  background-color: inherit;
}

.navigation button:hover {
  color: #ffffff;
  background-color: #000000;
}

.navigation button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.drop-menu a {
  letter-spacing: normal;
  text-transform: none;
}

.drop-menu {
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
}

.user-navigation {
  font-size: 15px;
  line-height: 36px;
  color: #000000;
}

.search-navigation {
  font-size: 15px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:hover,
.user-navigation a:hover,
.search-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.search-navigation a:focus {
  color: rgba(0, 0, 0, 1);
}

.slide b {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  line-height: normal;
  font-weight: 800;
  color: #000000;
}

.slide p,
.info p,
.company p {
  font: inherit;
}

.number {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #000000;
}

.button {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  text-decoration: none;
}

.button:hover {
  color: rgba(0, 0, 0);
  background-color: #f7e296;
}

.button:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f7e296;
}

.stroke1 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: inherit;
}

.stroke2 {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 36px;
  line-height: normal;
  font-weight: 300;
  color: #000000;
}

.slider-button {
  border: none;
}

.catalog-icon-list h3 {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: normal;
  font-weight: 800;
  list-style: none;
}

.catalog-icon-list {
  list-style: none;
}

.catalog-icon-categories a {
  color: #000000;
}

.info {
  background-color: #e5e5e5;
}

.info-navigation {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.info-navigation a {
  color: #000000;
}

.info-navigation a:active {
  font: inherit;
  color: #f7e184;
  background-color: #000000;
}

.info-about {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  letter-spacing: 0.01em;
  line-height: normal;
  font-weight: 800;
  color: #000000;
}

.list {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  list-style: none;
}

.about-us-h {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  letter-spacing: 0.01em;
  line-height: normal;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.1);
}

.filtrs-title {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ececec;
}

.catalog-item h3 {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: normal;
  font-weight: 800;
  text-transform: none;
  color: #000000;
}

.price {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: normal;
  font-weight: 300;
  color: #464646;
  text-align: right;
}

.catalog-item:hover {
  background-color: rgba(238, 238, 238, 0.7);
}

.filter-button,
.catalog-hover button {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  background-color: inherit;
}

.filter-button:hover,
.catalog-hover button:hover {
  color: rgba(0, 0, 0);
  background-color: #f7e296;
}

.filter-button:focus,
.catalog-hover button:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f7e296;
}

.catalog-compare {
  font-size: 13px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 0;
  background-color: inherit;
}

.catalog-compare:hover {
  color: rgba(0, 0, 0);
}

.catalog-compare:focus {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-hover,
.pagination-menu,
.pagination-item {
  list-style: none;
}

.pagination-list {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item a {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: normal;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
  color: rgba(0, 0, 0, 0.6)
}

.pagination-item a:focus {
  color: rgba(0, 0, 0, 1)
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1)
}

.pagination-menu {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: normal;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 0;
  background-color: inherit;
}

.pagination-menu:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-menu:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.08);
}

.filtrs {
  background-color: #eeeeee;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: normal;
  font-weight: 800;
  color: #000000;
}

.filter-option label {
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 40px;
  font-weight: 300;
  color: #000000;
}

.filter-option {
  list-style: none;
}

.filter-input:hover {
  opacity: 0.6;
}

.filter-input:disabled + label {
  color: rgba(166, 166, 166);
}

.sort {
  background-color: rgba(0, 0, 0, 0.08);
}

.sort-list a {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:focus {
  color: rgba(0, 0, 0, 1);
}

.sort-list {
  list-style: none;
}

.main-footer {
  color: #ffffff;
}

.footer-user-navigation,
.footer-site-navigation {
  list-style: none;
}

.footer-user-navigation {
  font-size: 15px;
  line-height: 36px;
  text-align: right;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
  color: rgba(255, 255, 255);
}

.footer-user-navigation a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-site-navigation {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.footer-site-navigation a {
  color: #ffffff;
}

.footer-site-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  text-align: center;
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #ffffff;
}

.write-us-item label {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 800;
  color: #000000;
}

.write-us-form input[type="text"],
.write-us-form textarea {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 300;
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(245, 245, 245, 0.5);
  border: 0px;
}

.write-us-form input:hover {
  background-color: rgba(245, 245, 245, 0.8);
}

.write-us-form input:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.write-us-item button {
 font-family: "Gilroy", Tahoma, sans-serif;
 font-size: 18px;
 letter-spacing: 0.2em;
 font-weight: 800;
 color: rgba(0, 0, 0, 1);
 text-align: center;
 vertical-align: middle;
 text-transform: uppercase;
 border: none;
 border-radius: 0;
 background-color: inherit;
}

.write-us-item button:hover {
 color: rgba(0, 0, 0);
 background-color: #f7e296;
}

.write-us-item button:focus {
 color: rgba(0, 0, 0, 0.3);
 background-color: #f7e296;
}

.modal-close {
  border: 0px;
  border-radius: 0px;
}

/* ----- Сеточные стили ----- */
html,
body {
  min-width: 1160px;
  min-height: 2790px;
}

.container {
  width: 1160px;
  margin: auto;
}

.main-header {
  margin-top: 22px;
  margin-bottom: 56px;
  background-color: inherit;

  /* Временно для сетки */
  min-height: 207px;
}

.main-header .conteiner {
  width: 1160px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f7e296;
}

.header-logo {
  width: 164px;
  padding-right: 876px;
  margin: auto;
  height: 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: auto;

  /* Временно для сетки */
  min-height: 66px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-right: 0;
  margin-top: 0;
}

.user-navigation-right {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-right: 0;
  margin-top: 0;
}

.main-navigation {
  width: 1040px;
  margin: auto;
  align-items: flex-start;

 /* Временно для сетки */
  min-height: 70px;
}

.menu-left {
  display: flex;
  justify-content: flex-start;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
}

.menu-right {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-right: 0;
}

.menu-right-left {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-left: 0;
}

.slider {
  display: flex;
  min-height: 486px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 108;
}

.slide {
  display: flex;
  justify-content: space-between;
}

.slider-text  {
  display: flex;
  flex-direction: column;
}

.foto {
  margin-left: 90px;
  margin-right: 120px;
}

.catalog-icon-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 86px;

  /* Временно для сетки */
  min-height: 238px;
}

.catalog-icon-categories {
  width: 160px;
  display: flex;
  align-items: flex-end;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 95px;

  /* Временно для сетки */
  min-height: 388px;
}

.info-navigation {
  width: 280px;
  padding-top: 80px;
}

.info-about-us {
  margin-left: 120px;
}

.logotypes-fabricator {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  margin-bottom: 95px;
  list-style: none;

  /* Временно для сетки */
  min-height: 100px;
}

.company {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 85px;

  /* Временно для сетки */
  min-height: 576px;
}

.about-us {
  padding-top: 59px;
  padding-right: 120px;
}

.contacts {
  padding-top: 59px;
  padding-right: 120px;
}

.main-footer-wrapper {
  background-color: #464646;

  /* Временно для сетки */
  min-height: 323px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  margin-bottom: 40px;

  /* Временно для сетки */
  min-height: 36px;
}

.footer-user-navigation {
  width: 330px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.second-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  padding: 0;

  /* Временно для сетки */
  min-height: 18px;
}

.footer-contact {
  margin: 0;
}

.footer-site-navigation {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.third-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  padding: 0;

  /* Временно для сетки */
  min-height: 37px;
}

.footer-social {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}








.visually-hidden {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
